<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Social banners</title>
  <link rel="preconnect" href="https://assets.ubuntu.com">
  <link rel="shortcut icon" href="https://assets.ubuntu.com/v1/0843d517-favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />
  <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>
  <style>canvas { margin-left: 0; }</style>
</head>
<body>
  <header class="p-navigation is-dark" id="header">
    <div class="p-navigation__row">
      <div class="p-navigation__banner">
        <div class="p-navigation__logo">
          <a href="/" class="p-navigation__item p-link--inverted">
            <span class="p-navigation__image">Social banner builder</span>
          </a>
        </div>
      </div>
    </div>
  </header>

  <section class="p-strip--light is-bordered">
    <div class="u-fixed-width">
      <div class="p-notification--caution u-hide" id="firefox-bug-banner">
        <p class="p-notification__response">
          <span class="p-notification__status">Note:</span> Due to a <a class="p-link--external" href="https://github.com/canonical-web-and-design/tools.demos.haus/issues/22">bug in Firefox</a>, illustrations will not be rendered to the canvas. Please use <a class="p-link--external" href="https://www.google.com/intl/en_uk/chrome/">Google Chrome</a>.
        </p>
      </div>

      <script>
        if (navigator.userAgent.toLowerCase().indexOf("firefox") > -1) {
          document.getElementById("firefox-bug-banner").classList.remove("u-hide")
        }
      </script>
    </div>
    <div class="row">
      <div class="col-6">
        <h1>Social banner builder</h1>
        <h2 class="p-heading--four">Use this tool to build social banners to be used across various marketing campaigns.</h2>
        <a class="p-button--positive js-show-modal" href="#banner-form-modal" aria-controls="banner-form-modal">Build banners</a>
      </div>
    </div>
    <div class="u-fixed-width">
      <hr class="u-sv3">
    </div>
    <div class="row">
      <div class="col-6">
        <h2>Preview banners</h2>
        <ul>
          <li><a href="#facebook-and-linkedin-banner">Facebook and LinkedIn (1200px &times; 628px)</a></li>
          <li><a href="#facebook-mobile-banner">Facebook mobile (1080px &times; 1080px)</a></li>
          <li><a href="#facebook-9-16-banner">Facebook 9:16 (400px &times; 500px)</a></li>
          <li><a href="#twitter-wide-banner">Twitter wide (800px &times; 418px)</a></li>
          <li><a href="#twitter-square-banner">Twitter square (800px &times; 800px)</a></li>
          <li><a href="#display-728-90">Ad (728 &times; 90)</a></li>
          <li><a href="#display-160-600">Ad (160 &times; 600)</a></li>
          <li><a href="#display-300-600">Ad (300 &times; 600)</a></li>
          <li><a href="#display-300-250">Ad (300 &times; 250)</a></li>
          <li><a href="#display-600-100">Email (600 &times; 100)</a></li>
        </ul>
        <button class="p-button--neutral u-no-margin--bottom" id="download-all-button">Download all banners</button>
      </div>
    </div>
  </section>

  <img class="u-hide" id="ubuntu-logo" src="/static/img/new_ubuntu_logo.svg" alt="">
  <img class="u-hide" id="microsoft-logo-horizontal" src="/static/img/microsoft_logo_horizontal.svg" alt="">
  <img class="u-hide" id="microsoft-logo-vertical" src="/static/img/microsoft_logo_vertical.svg" alt="">
  <img class="u-hide" id="illustration" src="/?image={{ banner_data.illustration_url }}" alt="">

  <section class="p-strip u-no-padding--bottom" id="facebook-and-linkedin-banner">
    <div class="u-fixed-width">
      <h4>Facebook and LinkedIn (1200px &times; 628px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="facebook-download-button" download="facebook_and_linkedin_banner">Download banner</a>
      <canvas id="facebook" width="1200" height="628">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <section class="p-strip u-no-padding--bottom" id="facebook-mobile-banner">
    <div class="u-fixed-width">
      <h4>Facebook mobile (1080px &times; 1080px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="facebook-mobile-download-button" download="facebook_mobile_banner">Download banner</a>
      <canvas id="facebookmobile" width="1080" height="1080">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <section class="p-strip u-no-padding--bottom" id="facebook-9-16-banner">
    <div class="u-fixed-width">
      <h4>Facebook 9:16 400px &times; 500px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="facebook-9-16-download-button" download="facebook_9_16_banner">Download banner</a>
      <canvas id="facebook916" width="400" height="500">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <section class="p-strip u-no-padding--bottom" id="twitter-wide-banner">
    <div class="u-fixed-width">
      <h4>Twitter wide (800px &times; 418px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="twitter-wide-download-button" download="twitter_wide_banner">Download banner</a>
      <canvas id="twitter" width="800" height="418">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <section class="p-strip" id="twitter-square-banner">
    <div class="u-fixed-width">
      <h4>Twitter square (800px &times; 800px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="twitter-square-download-button" download="twitter_square_banner">Download banner</a>
      <canvas id="twittersquare" width="800" height="800">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <section class="p-strip u-no-padding--bottom" id="display-728-90">
    <div class="u-fixed-width">
      <h4>Ad banner (728px &times; 90px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="display-728-90-download-button" download="display-728-90_banner">Download banner</a>
      <canvas id="display-728-90-canvas" width="728" height="90">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <section class="p-strip u-no-padding--bottom" id="display-160-600">
    <div class="u-fixed-width">
      <h4>Ad banner (160px &times; 600px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="display-160-600-download-button" download="display-160-600_banner">Download banner</a>
      <canvas id="display-160-600-canvas" width="160" height="600">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <section class="p-strip u-no-padding--bottom" id="display-300-600">
    <div class="u-fixed-width">
      <h4>Ad banner (300px &times; 600px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="display-300-600-download-button" download="display-300-600_banner">Download banner</a>
      <canvas id="display-300-600-canvas" width="300" height="600">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <section class="p-strip u-no-padding--bottom" id="display-300-250">
    <div class="u-fixed-width">
      <h4>Ad banner (300px &times; 250px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="display-300-250-download-button" download="display-300-250_banner">Download banner</a>
      <canvas id="display-300-250-canvas" width="300" height="250">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <section class="p-strip u-no-padding--bottom" id="display-600-100">
    <div class="u-fixed-width">
      <h4>Email banner (600px &times; 100px)</h4>
      <a href="" class="p-button--neutral js-download-button" id="display-600-100-download-button" download="display-600-100_banner">Download banner</a>
      <canvas id="display-600-100-canvas" width="600" height="100">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <p><a href="#header">Back to top</a></p>
    </div>
  </section>

  <div class="p-modal" id="banner-form-modal" style="display: none;">
    <div class="p-modal__dialog" role="dialog" aria-labelledby="banner-form-modal-title" aria-describedby="banner-form-modal-description" style="min-width: 700px;">
      <header class="p-modal__header">
        <h2 class="p-modal__title" id="banner-form-modal-title">Banner builder form</h2>
        <button class="p-modal__close" aria-label="Close active modal" aria-controls="banner-form-modal">Close</button>
      </header>
      <p id="banner-form-modal-description">Use this form to build banners.</p>
      <form id="banner-form">
        <label for="title">Title (max 50 characters)</label>
        <input type="text" name="title" id="title" value="{{ banner_data.title }}" maxlength="50" required>
        <label for="subtitle">Subtitle (max 120 characters)</label>
        <textarea name="subtitle" id="subtitle" maxlength="120" rows="4">{{ banner_data.subtitle }}</textarea>
        <label for="illustration_url">Illustration URL</label>
        <input type="url" name="illustration_url" id="illustration_url" value="{{ banner_data.illustration_url }}">
        <label for="background">Background</label>
        <select name="background" id="background" value="{{ banner_data.background }}" required>
          <option value="grad" {% if banner_data.background == 'grad' %}selected{% endif %}>grad</option>
          <option value="dark" {% if banner_data.background == 'dark' %}selected{% endif %}>dark</option>
          <option value="k8s" {% if banner_data.background == 'k8s' %}selected{% endif %}>k8s</option>
          <option value="aqua" {% if banner_data.background == 'aqua' %}selected{% endif %}>aqua</option>
          <option value="snapcraft" {% if banner_data.background == 'snapcraft' %}selected{% endif %}>snapcraft</option>
        </select>
        <label for="logo">Logo</label>
        <select name="logo" id="logo" value="{{ banner_data.logo }}" required>
          <option value="ubuntu" {% if banner_data.logo == 'ubuntu' %}selected{% endif %}>Ubuntu</option>
          <option value="ubuntu+microsoft" {% if banner_data.logo == 'ubuntu+microsoft' %}selected{% endif %}>Ubuntu + Microsoft</option>
          <option value="none" {% if banner_data.logo == 'none' %}selected{% endif %}>None</option>
        </select>
        <label for="product">Product</label>
        <input type="text" name="product" id="product" value="{{ banner_data.product }}" required>
        <label for="partner">Partner</label>
        <input type="text" name="partner" id="partner" value="{{ banner_data.partner }}" required>
        <label for="messaging">Messaging Pillar</label>
        <input type="text" name="messaging" id="messaging" value="{{ banner_data.messaging }}" required>
        <label for="language">Language</label>
        <select name="language" id="language" value="{{ banner_data.language }}" required>
          <option value="en" {% if banner_data.language == 'en' %}selected{% endif %}>EN</option>
          <option value="fr" {% if banner_data.language == 'fr' %}selected{% endif %}>FR</option>
          <option value="es" {% if banner_data.language == 'es' %}selected{% endif %}>ES</option>
          <option value="de" {% if banner_data.language == 'de' %}selected{% endif %}>DE</option>
          <option value="it" {% if banner_data.language == 'it' %}selected{% endif %}>IT</option>
          <option value="jp" {% if banner_data.language == 'jp' %}selected{% endif %}>JP</option>
          <option value="cn" {% if banner_data.language == 'cn' %}selected{% endif %}>CN</option>
        </select>
        <button type="submit" class="p-button--positive">Build banners</button>
      </form>
    </div>
  </div>

  <script src="{{ versioned_static('js/dist/main.js') }}"></script>
  <script>
    if (window.generateBannerCanvas) {
      window.generateBannerCanvas.generateBannerCanvas({
        title: "{{ banner_data.title }}",
        subtitle: "{{ banner_data.subtitle }}",
        illustrationUrl: "{{ banner_data.illustration_url }}",
        background: "{{ banner_data.background }}",
        logo: "{{ banner_data.logo }}",
        product: "{{ banner_data.product }}",
        partner: "{{ banner_data.partner }}",
        messaging: "{{ banner_data.messaging }}",
        language: "{{ banner_data.language }}"
      });
    }
  </script>
</body>
</html>
